<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kgc.dao.NewsDao">
	<!-- 查询 -->
	<select id="getNews" parameterType="News" resultType="News">
		select 
	      id,
		  category_id,
		  title,
		  summary,
		  author,
		  DATE_FORMAT(create_date,'%Y-%m-%d %T') create_date,
		  DATE_FORMAT(update_date,'%Y-%m-%d %T') update_date
		from news_detail
		<where>
			<if test="categoryId != null">
				category_id = #{categoryId}
			</if>
			<if test="title != null">
				and title like '%' #{title} '%'
			</if>
		</where>
	</select>
	<!-- 根据id查询新闻 -->
	<select id="getNewsById" parameterType="int" resultType="News">
		select *
		from news_detail
		where id = #{id}
	</select>
	
	<!-- 修改 -->
	<update id="updateNews" parameterType="News">
		update news_detail
		set category_id = #{categoryId},
			title = #{title},
			summary = #{summary},
			author = #{author},
			update_date = sysdate()
		where 
			id = #{id}
	</update>
	
	<!-- 查询分类列表 -->
	<select id="getAllCategory" resultType="Category">
		select * from news_category
	</select>
	
	
	
	
	
	
</mapper>